@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}


/* Navbar Styles Start */
.navbar {
    background: #FFF;
    box-shadow: 0rem 0.25rem 1.875rem 0rem rgba(0, 0, 0, 0.05);
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
}

.icon {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-img {
    width: 4rem;
}

.navbar-title {
    font-size: 2rem;
    font-weight: 700;
    color: #0B0223;
}

.G {
    color: #FF42A5;
}

.menus {
    display: flex;
    align-items: center;
}

.menu-items {
    text-decoration: none;
    padding: 1.4rem;
    color: #3C354F;
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar-items {
    border-radius: 0.25rem;
    background: rgba(11, 2, 35, 0.10);
    width: 17rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    color: #3C354F;
    font-size: 0.9rem;
    font-weight: 500;
}

/* Navbar Styles Ends */



/* Banner Styles Start */
.banner {
    display: flex;
    justify-content: space-between;
}

.banner-img-size {
    width: 33rem;
    padding-right: 10rem;
}

.banner-content {
    background-image: url("/images/group14.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rem;
    height: 30.625rem;
}

.banner-content-items {
    margin-top: 6.25rem;
    margin-left: 10rem;
}

.banner-title {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content-points {
    color: #534C64;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

.flexing-icons {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    padding: 0.313rem;
}

.signin-btn {
    border-radius: 1.875rem;
    background: #FF42A5;
    padding: 0.75rem 1.563rem;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border-color: white;
    cursor: pointer;

}

.gorouge-btn {
    border-radius: 1.875rem;
    background: #4EC5F7;
    padding: 0.75rem 1.563rem;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border-color: white;
    cursor: pointer;
}


/* Banner Styles Ends */


/* WE Are Gamer Styles Start */
.we-are-gamer {
    height: 450px;
    background: rgba(255, 66, 165, 0.03);
    padding: 0rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.we-img {
    width: 600px;
}

.we-content {
    text-align: right;
}

.we-title {
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1rem;
}

.we-description {
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

.knowmore-btn {
    border-radius: 1.875rem;
    background: #FF42A5;
    padding: 0.75rem 1.563rem;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border-color: white;
    margin-bottom: 1rem;
    cursor: pointer;
}

.we-purpose {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}

.we-moto {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

/* WE Are Gamer Styles End */



/* Funny Video Styles Start */
.funny-video {
    text-align: center;
    padding: 5rem 8rem;
}

.funny-cards {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.funny-card-divs {
    text-align: left;
    width: 15.313rem;
}

.funny-video-image-size {
    width: 15.313rem;
    padding: 1.25rem 0rem;
}

.funny-video-title {
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 700;
    padding-top: 1rem;
}

.funny-video-title-design {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 1rem;
}

.funny-video-description,
.funny-card-divs-description {
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 400;
}

.for-hover-affect {
    position: relative;
}

.funny-video-image-size {
    width: 15.313rem;
    padding: 1.25rem 0rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.for-hover-affect:hover .overlay {
    opacity: 1;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-container svg {
    width: 3rem;
    height: 3rem;
    fill: white;
}

.watch-now {
    color: #FF42A5;
    font-size: 18px;
}

/* Funny Video Styles Ends */


/* Play Instantly Styles Start */

.play-instantly {
    display: flex;
    padding: 5rem 9rem 0rem;
    margin-top: -5rem;
}

.play-instantly-image-size {
    width: 31.25rem;
}

.play-instantly-image-size-overlap {
    width: 15.625rem;
    position: relative;
    bottom: 15rem;
    right: 7.5rem;
}

.play-instantly-content {
    padding-top: 9.375rem;
    padding-right: 12.5rem;
    text-align: right;

}

.play-instantly-title-design {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-title {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
    color: #0B0223;
}

.play-instantly-descreption {
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 400;
    padding-bottom: 1rem;
}

/* Play Instantly Styles Ends */


/* Career Styles Starts */
.career {
    margin-top: -10rem;
    height: 80vh;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.career-img-size {
    height: 80vh;
}

.career-content {
    padding-left: 9rem;
    padding-top: 6rem;
    width: 31.25rem;
}

.career-title {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.career-description {
    padding-bottom: 2rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.address {
    display: flex;
    gap: 52px;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
}

.address-engineers {
    text-align: left;
}

.address-addresses {
    text-align: right;
}

.career-btn {
    border-radius: 1.875rem;
    padding: 0.75rem 1.563rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border-color: #FF42A5;
    color: #FF42A5;
    cursor: pointer;
}

/* Career Styles Ends */


/* Button Styles Starts */
.game-types-btn {
    height: 60vh;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding-top: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    align-items: center;
}

.games-icons-2ndline {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    align-items: center;
}

.game-icon-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3.125rem;
    background-color: #ffffff;
    padding: 0.75rem 1.563rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border-color: #ffffff;
    color: #000000;
    width: 13.344rem;
    height: 4.375rem;
    cursor: pointer;
}

.game-icon-btn:hover {
    border-color: #FF42A5;
    color: #FF42A5;
}

/* Button Styles Ends */





/* Footer Styles Starts */
footer {
    background-color: #0B0223;
    height: 70vh;
    text-align: center;
    color: rgba(255, 255, 255, 1)
}

.icon-last {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.last-title {
    color: #ffffff;
    font-size: 2rem;
}

ul>li {
    list-style: none;
}

li>a {
    color: #ffffff;
    text-decoration: none;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 2rem 18rem;
}

.socials {
    display: flex;
    color: #ffffff;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem 20rem;
}

.conditions {
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.6rem;
    padding: 2rem 20rem;
}

.last-copyright-part {
    color: rgba(255, 255, 255, 0.60);
    padding-bottom: 2rem;
    font-size: 0.6rem;
    font-weight: 400;
}

/* Footer Styles End */




/* Responsive Media Queries */
/* For Mobile Devices */
@media screen and (max-width: 425px) {

    * {
        max-width: 425px;
    }

    .navbar,
    .menus,
    .banner,
    .we-are-gamer,
    .funny-cards,
    .play-instantly,
    .career,
    .services,
    .socials,
    .conditions {
        flex-direction: column;
    }

    .navbar {

        height: auto;
        width: auto;
        padding: 50px;
    }

    .banner-content {
        height: auto;
        width: auto;
    }

    .banner-content-items {
        margin: 20px;
    }

    .banner-img-size {
        width: 360px;
        padding: 20px;
    }

    .banner-content-items {
        padding-left: 65px;
    }

    .we-img {
        width: 400px;
        height: auto;
    }

    .we-are-gamer {
        width: auto;
        height: auto;
        padding: 20px;
    }

    .we-content {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .funny-video {
        width: auto;
        height: auto;
        padding: 20px;
    }

    .funny-cards {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .play-instantly {

        height: auto;
        padding: 20px;
    }

    .play-instantly-content {
        margin-top: 50px;
        padding: 20px;
        text-align: center;

    }

    .play-instantly-img {
        padding-left: 60px;
    }

    .play-instantly-image-size {
        width: 300px;
    }

    .play-instantly-image-size-overlap {
        width: 100px;
        position: relative;
        bottom: 75px;
        right: 60px;
    }

    .career {
        margin-top: 0px;
        height: auto;
    }

    .career-content {
        width: auto;
        padding: 40px;
    }

    .career-img {
        padding: 20px;
    }

    .career-img-size {
        justify-content: left;
        max-height: 350px;
        max-width: 400px;
    }

    .game-types-btn {
        height: auto;
    }

    .btn-small-icon {
        width: 35px;
    }

    .game-icon-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
        background-color: #ffffff;
        padding: 0.25rem 0.25rem;
        font-size: 0.6rem;
        font-weight: 600;
        text-transform: uppercase;
        border-color: #ffffff;
        color: #000000;
        width: 7rem;
        height: 3rem;
    }

    .games-icons {
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .games-icons-2ndline {
        padding: 1rem 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        height: auto;
    }

    .services {
        gap: 20px;
        justify-content: space-around;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .socials {
        justify-content: center;
        gap: 30px;
        padding: 30px 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .conditions {
        gap: 5px;
        font-size: 0.6rem;
        padding: 20px 90px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}



/* For Tablet and Medium Devices */
@media screen and (min-width: 425px) and (max-width: 768px) {

}